<div class="bgcontainer">
    <div class="question">
        <h2>Ask a Question  </h2>
    </div>
    <form #askform="ngForm" (ngSubmit)="onSubmit()">
        <div class="answer">
            <h5>Title</h5>
            <input type="text" class="form-control" #title="ngModel" name="title" [class.is-invalid]="title.invalid && title.touched"
             required [(ngModel)]='ask.title' placeholder="Title of the Question">
             <small class="text-danger" [class.d-none]="title.valid || title.untouched">Title is required</small>
            <br>
            
            <h5>Body</h5>
            <p>Include the information describing your question</p>
            <textarea class="form-control" id="exampleFormControlTextarea1" required #body='ngModel' name="body" [class.is-invalid]="body.invalid && body.touched"
             id="body" placeholder="Type Here..." [(ngModel)]="ask.body" rows="7"></textarea>
             <small class="text-danger" [class.d-none]="body.valid || body.untouched">Title is required</small>
            <br>
             
            <h5>Tags</h5>
            <!-- <input type="text" class="form-control" #tag="ngModel" required name="tag" [(ngModel)]="ask.tag" [class.is-invalid]="tag.invalid && tag.touched"
            placeholder="Enter a tag describing your question">
            <small class="text-danger" [class.d-none]="tag.valid || tag.untouched">Atleast one tag is required</small> -->
            <div>
                <ng-multiselect-dropdown
                  [placeholder]="'custom placeholder'"
                  [settings]="dropdownSettings"
                  [data]="dropdownList"
                  [(ngModel)]="ask.tag"
                  name="tag"
                >
                </ng-multiselect-dropdown>
              </div>
            <br>
            
            <button class="btn btn-primary pt-2 mt-2 mb-2" >Submit</button>
            
            <div *ngIf="submit" class="alert alert-success mb-5" role="alert">
                <b>Successfully Submitted</b>
            </div>
        </div>
    </form>
    
</div>
