#nav1{
    background: linear-gradient(45deg,#f046ff,#9b00e8);

}
li a:hover{
    background: #9b00e8;
    border-radius: 24px;
}

li a{
    padding: 8px;
}
a:active {
    color: black;
  }
  a:visited {
    color: black;
  }
  a:link {
    color: black;
  }
.container{
    box-shadow: 5px 10p #ca9fe0;
}
#a1:active {
    color: white;
  }
  #a1:visited {
    color: white;
  }
  #a1:link {
    color: white;
  }